[build]
  command = "npm run build"
  functions = "netlify/functions"
  publish = "dist"

[functions]
  node_bundler = "esbuild"

[dev]
  command = "npm run dev"
  port = 8888
  targetPort = 5173
  autoLaunch = false
  framework = "#custom"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
